<html>
  <head>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <style>
      .map-container {
        max-width: 100%;
        min-height: 100%;
      }
      .contanier {
        display: grid;
        grid-template-rows: auto 5fr 9fr;
        gap: 20px;
        padding: 40px;
      }
      input[type="text"] {
        background: url("https://img.icons8.com/color/344/worldwide-location.png")
          no-repeat scroll 7px 7px;
        padding-left: 30px;
        background-size: 22px;
      }
      select {
        background: url("https://img.icons8.com/external-kmg-design-outline-color-kmg-design/344/external-pin-map-and-navigation-kmg-design-outline-color-kmg-design-2.png")
          no-repeat scroll 7px 7px;
        padding-left: 30px;
        background-size: 22px;
      }
      input[type="text"],
      select {
        width: 80%;
        height: 50%;
      }
      .form-container {
        display: grid;
        grid-template-rows: 2.3fr 2.3fr 1fr;
      }
      input[type="submit"] {
        color: aliceblue;
        background-color: #91c483;
        padding: 10px;
        outline: none;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="contanier">
      <div>
        <h1>Pick your location</h1>
      </div>
      <div>
        <form id="address-form">
          <div class="form-container">
            <div>
              <input
                type="text"
                id="place"
                placeholder="Search Address"
                name="address"
              />
            </div>
            <div>
              <select id="typeoflocation" name="type">
                <option value="Home">Home</option>
                <option value="Work">Office</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div><input type="submit" value="Submit" /></div>
          </div>
        </form>
      </div>
      <div>
        <div id="map" class="map-container"></div>
      </div>
    </div>
    <script src="/js/locationpicker.js" type="text/javascript"></script>
  </body>
</html>
