* {
  padding: 0%;
  margin: 0%;
}
#u-like,
#u-dislike {
  cursor: pointer;
  pointer-events: auto;
}
.animinate-card {
  animation-name: upward;
  animation-duration: 2s;
  animation-delay: 3ms;
  animation-direction: alternate;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.card-body {
  padding: 0%;
  margin: 0%;
}
.profile-container {
  background-color: #dfdfde;
  padding: 40px;
}
.profile-picture {
  border-radius: 50%;
  object-fit: fill;
}
.u-name {
  font-size: medium;
  font-style: italic;
}
.u-type {
  font-size: smaller;
  font-style: oblique;
}
.user-action {
  padding-bottom: 15px;
}
small {
  font-size: small;
  font-variant: small-caps;
}
.review-title {
  font-weight: bold;
}
.review-post-date {
  font-size: small;
  font-weight: lighter;
}
.user-review-comment {
  font-family: "Times New Roman", Times, serif;
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .card-container {
    min-height: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .profile-picture {
    width: 40%;
    margin-left: 30%;
  }
  .card-body {
    margin-top: 0%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-top: 0%;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
}
#rateYo {
  padding: 10px;
  margin-left: 12px;
}
.overall-rating-text {
  padding: 16px;
  margin-left: 12px;
}
.overall-rate {
  margin: 10px;
  background-color: #f5f8ff;
  border-radius: 4rem;
}
.customer-count {
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#rate-lable {
  color: #323357;
}
#rate-percentage {
  text-align: justify;
  color: black;
}
.rating-details {
  margin: 10px;
  padding: 20px;
  background-color: #f5f8ff;
}
.progress {
  border-radius: 4rem;
  width: auto;
}
@keyframes upward {
  from {
    opacity: 0.25;
    margin-top: 15%;
  }
  50% {
    opacity: 0.5;
    margin-top: 10%;
  }
  to {
    opacity: 1;
    margin-top: 5%;
  }
}
